.task-list {
	font-size: 1.5rem;
	width: 100%;
}

.list {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

.completed {
	text-decoration: line-through;
}

.input-button-container {
	display: flex;
	gap: 1.5rem;
}

.input-task-list {
	padding: 1rem 2rem;
}

.button-task-list {
	border: none;
	cursor: pointer;
	font-size: 1.5rem;
	padding: 1rem 2rem;
	font-weight: bold;
	transition: all 0.2s ease-in-out;
}

.button-task-list:hover {
	background-color: gray;
}
